<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gbhu.xdkt.mapper.VideoOrderMapper">
    <insert id="saveOrder" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into video_order
        (out_trade_no, state, create_time, total_fee, video_id, video_title, video_img, user_id)
        values (
                #{outTradeNo,jdbcType=VARCHAR},
                #{state,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP},
                #{totalFee,jdbcType=INTEGER},
                #{videoId,jdbcType=INTEGER},
                #{videoTitle,jdbcType=VARCHAR},
                #{videoImg,jdbcType=VARCHAR},
                #{userId,jdbcType=INTEGER}
               )


    </insert>
    <select id="isBuyed" resultType="VideoOrder">
        select *
        from video_order
        where user_id = #{user_id,jdbcType=INTEGER}
          and video_id = #{video_id,jdbcType=INTEGER}
          and state = #{state,jdbcType=INTEGER}
    </select>

    <select id="getOrderByUserId" resultType="videoOrder">
        select * from video_order
        where user_id=#{user_id,jdbcType=INTEGER}
        order by create_time
    </select>
</mapper>